# wintv-ci options
# HB 2018-08-04

#options wintv_usb2ci adapter_nr=5
#options wintv_usb2ci uf_triggers_submission=96 # for minisatip
#options wintv_usb2ci uf_triggers_submission=16
options wintv_usb2ci use_dma_coherent=0
options wintv_usb2ci show_ts_bitrate=1
#options wintv_usb2ci show_tpdu_info=1

# Alphacrypt 3.28 +
# Neotion (Irdeto) ++ 7/3
# SmarDTV +++ 6/1 + 6/3
# SMIT (irdeto) +++ 6/3
#options wintv_usb2ci dummy_half_uframes=3
#options wintv_usb2ci fx2_movx_stretch=6

# SMIT (SimpliTv)
# SMIT (irdeto) +++
options wintv_usb2ci dummy_half_uframes=2
options wintv_usb2ci fx2_movx_stretch=6

options wintv_usb2ci urb_iso_asap=1
options wintv_usb2ci sync_urb_to_uframe=1

# HB 2021-03-14

#options wintv_usb2ci force_vendor=0
#options wintv_usb2ci force_version=0
